// 文档结构元素
html,
body {
	box-sizing: border-box;

	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: #f7f8f9;

	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
}

// 元数据
head,title,base,meta,link,script,style,
// 布局元素
header,search,nav,main,section,article,aside,footer,
// 容器元素
div,span,
// 列表元素
menu,ul,ol,li,data, dl,dt,dd,
// 表格元素
table,caption,colgroup,col,thead,tbody,tfoot,tr,td,th,
// 标题/段落元素
hgroup,h1,h2,h3,h4,h5,h6,p,hr,
// 表单元素
form,fieldset,legend,label,input,textarea,select,optgroup,option,datalist,meter,progress,button,
// 链接/多媒体元素
a,img,video,audio,track,picture,source,map,area,object,
// 文本格式化元素
abbr,b,blockquote,br,cite,dfn,i,pre,q, strong,em,small,sub,sup,mark, code,var,kbd,samp, del,ins,s,u,
// 展示元素
address,time, bdi,bdo, details,summary, dialog, figure,figcaption, wbr, noscript,
// 内嵌框架元素
iframe,canvas,
// 文字注音或字符注释
ruby,rp,rt,
// Web组件插槽元素
slot,template {
	box-sizing: border-box;

	padding: 0;
	margin: 0;
	border: none;
	outline: none;

	color: inherit;
	font-size: inherit;
}

span {
	display: inline-block;
}

a {
	text-decoration: none;
}
